// @import 'variables';
@import 'mixin';
@import 'reset';
@import 'fonts';
@import 'variable';

header {width: 100%;
height: auto;
}

em {}

li{
  position: relative;
  display: flex;
  flex-direction: row;
  // background-size: cover;
  // width:100%;
}

.loader {
  height: 10%;
  width: 10%;
}

span {
    text-transform: uppercase;
}

body {
    background-color: black;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    height: 100vh;
    flex-direction: column;
    line-height: 1;
    font-size: 16px;
    font-family: 'open_sans'

}

.nav {
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 125px;
    box-shadow: border box;
    height: auto;
    padding: 0px;

}

.nav-container{
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}


.logo {
  height: auto;
}

.logo_small{
 height: 80px;
 margin-right: 700px;
}

.sectiontext {
    text-align: center;
    padding: 0 0 10px 0;
    color: white;
}

.txt {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 50px;
}

.select {
    font-size: 1rem;
    margin: 0 100px 0 100px;

}
.select_sm {
  font-size: 30px;

}
.selectlist{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.picture{
  display: block;
  width: 100%;
  height: 380px;
  // max-width: 50%;
  background-size: cover;
  background-position: 50%;
}

.picture a{
  //display: block;
  overflow: hidden;
}

.article-inner{
  width: 100%;
  height: 380px;
}

.abstract{
  background: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0px;
}

.sections {
  font-size: 1.1rem;
}

footer {
    font-size: 16px;
    position: relative;
    display: block;

}

.copy p {
    color: #c2c2c2;
    padding: 20px;
    font-family: 'open_sans';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 100px;
}
/*--------------------------------------------------------------------------Breakpoints*/
@media screen and (min-width: 600px) {
    html {
        width: 100%;
    }

    .logo {
        width: 100%;
        padding-top: 150px;
        max-width: 150px;

    }


    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        box-sizing: border-box;
    }

    .container_small {
      height: 100px;
      margin-top: 20px;
    }

 .nav{
   margin-top: 200px;
 }

 .nav_small{
   margin-top: 0;
   margin-left: -800px;
 }

.li{
    width: 50%
}

    .picture{
        max-width: 50%;
      }


    footer {
        font-size: 16px;
        position: relative;
    }
}
/*--------------------------------------------------------------------------Breakpoints*/
/*--------max container is used to set width on certain elements----------*/
@media all and (min-width: 1000px) {

.body{
  margin: 0 auto;

}
.logo{
  max-width: 200px;
}
.container {
    justify-content: flex-start;
    }

    .container_small{
      justify-content: flex-start;
        height: 100px;
        margin-top: 0px;

    }

.nav-container{
  justify-content: flex-start;
  flex-wrap: nowrap;
}

    .li{
        flex: 0 1 25%;
        max-width: 25%
    }
.copy p{
  position:absolute;
}

.picture{
  max-width: 25%;

}

.footer{
  text-align: left;
}
}
